* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px "Inter", sans-serif;
    background: #fff;
    color: #666666;

    display: flex;
    align-items: center;
    justify-content: center;
}